<div class="green-panel" style="margin-bottom: 10px; min-height: 250px">
	<div class="green-header">
		<h5>PENDING HOURS FROM</h5>
	</div>
	<ul class="list-unstyled" id="pending">
		<li>Diego Espada</li>
		<li>Nicolás Rossi</li>
		<li>Martin Dasnoy</li>

	</ul>
</div>
<style>
#pending {
	font-size: 14px;
	padding-bottom: 20px;
}
</style>