<div class="green-panel pn" style="margin-bottom: 10px">
	<div class="green-header">
		<h5>Users with pending hours</h5>
	</div>
	<ul class="list-unstyled list-inline" id="pending">
		<li>Diego Espada</li>
		<li>Nicolás Rossi</li>
		<li>Martin Dasnoy</li>
	</ul>
</div>