<div class="border-head mt">
	<h3>Manager Dashboard</h3>
</div>
<div class="row">
	<div class="col-md-9">
		<div id="projects_chart_div"></div>
	</div>
	<div class="col-md-3">
		<div id="pending_users_div"></div>
		<div id="inputs_chart_div"></div>
	</div>
</div>