<div class="green-panel" style="margin-bottom: 10px; min-height: 250px">
	<div class="green-header">
		<h5>PENDING HOURS</h5>
		<h6>(last four weeks)</h6>
	</div>
	<ul class="list-unstyled" id="pending">
	<%
	if (users_with_pending_input.length == 0)
	{
		%>There are no pending inputs on part of users ! yippie ki-yay ! :)<%
	}
	else
	{
		for (var i = 0; i < users_with_pending_input.length; i++)
		{
			var user_with_pending_input = users_with_pending_input[i];
			%>
				<li><%= user_with_pending_input.name %></li>
			<%
		}
	}
	%>
	</ul>
</div>
<style>
#pending {
	font-size: 14px;
	padding-bottom: 20px;
}
.green-header h6 {
	color: white;
}
</style>