<!--CUSTOM CHART START -->
<div class="border-head mt">
	<h3>Dashboard de proyectos</h3>
</div>
<ul class="list-unstyled list-inline">
<!-- SERVER STATUS PANELS -->
<%
	for(var i=0; i <10; i++)
	{
%>
	
	<li style="margin-bottom: 10px">
		<div class="grey-panel pn donut-chart" style="width:200px;position:relative">
			<div class="grey-header">
				 <a href="green_project_form.html"><h5>NIKE COMERCIAL 2014</h5></a>
			</div>
			<div class="donut-chart-indicator">70%</div>
			<canvas id="serverstatus" height="120" width="120"></canvas>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div style="padding:6px">Restan 4 semanas</div>
					<div class="progress" style="height:16px">
						<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%; background-color:#4ECDC4">
							<span class="sr-only">40% Complete (success)</span>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /grey-panel -->
	</li><!-- /col-md-4-->
<%
	}
%>	
</ul>
<style>
		.progress-bar {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.donut-chart-indicator {
			position: absolute;
			text-align: center;
			top: 104px;
			font-weight: 900;
			color: #FF6B6B;
			font-size: 20px;
			width: 100%;
		}
		.grey-header > a {
			color: rgb(121,121,121);
		}
</style>