<div class="darkblue-panel pn" style="margin-bottom: 10px">
	<div class="darkblue-header" style="margin-bottom:0px">
		<h5>Input % complete</h5>
	</div>
	<canvas id="inputchart" height="200" width="200"></canvas>
</div>