<div class="darkblue-panel" style="padding-bottom: 10px; min-height: 250px">
	<div class="darkblue-header" style="margin-bottom:0px">
		<h5>INPUT % COMPLETE</h5>
	</div>
	<br/>
	<canvas id="inputchart" height="120" width="120"></canvas>
</div>