<div style="text-align:center; padding-bottom:20px">
	<h3>
	Hey ! Welcome to Artime ! Here's your ticket to ride !
	</h3>
	<h4>
	Since you're new here, Cosetti suggests that you watch the video below to set up your company, fast!
	</h4>
	<h5>
	Watch it in fullscreen for the best experience. Also, subtitles in English and Spanish are available.
	</h5>
</div>

<div style="text-align:center">
	<iframe src="//player.vimeo.com/video/97449481?byline=0" width="600" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<img src="/assets/ticket.png" class="cosetti-ticket" />
</div>

<style>

.cosetti-ticket 
{
	bottom:0px;
	height:300px;
	margin-left:-90px;
	position:absolute;
}

</style>