<div class="content-panel mt">
	<h4>Proyectos</h4>
	<section id="unseen" style="padding:10px">
		<form class="form-horizontal style-form" method="get">
			<div class="row">
				<div class="col-md-3">
					<label class="control-label">Client</label>
					<select class="form-control input-medium" id="clients_select" name="clients_select">
						<option></option>
					</select>
				</div>
				<div class="col-md-3">
					<label class="control-label">Project Name</label>
					<input type="text" id="project_name" class="form-control input-medium" />
				</div>
				<div class="col-md-2">
					<label class="control-label">Approximate date</label>
					<input type="text" id="date" class="form-control input-medium date-picker" />
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
					<div class="control-label">&nbsp;</div>
					<a href="#" id="new" class="btn btn-theme04" style="width:100%">New project</a>
				</div>
			</div>
		</form>
		<table class="table table-bordered table-striped table-condensed mt">
			<thead>
				<tr>
						<th>Name</th>
						<th>Client</th>
						<th>Start</th>
						<th>Deadline</th>
						<th>Budget</th>
						<th>Spent</th>
						<th>Status</th>
				</tr>
			</thead>
			<tbody id="projects_tbody">
			</tbody>
		</table>
	</section>
</div>
<style>
.project-link {
	color: inherit;
}
</style>