<div class="content-panel">
	<div class="content-header">
		Company users
		<button class="pull-right btn btn-theme04" id="newUser">New user</button>
	</div>
	<section id="unseen" style="padding:10px">
		<div id="users_table"></div>
	</section>
</div>