<div class="content-panel mt">
	<h4>User profile</h4>
	<section id="unseen" style="padding:10px">

		<div class="row">
			<div class="col-md-3 rightbar">
				<div class="page-body">
					<div class="tabbable">
						<ul id="user-tabs" class="nav nav-pills nav-stacked" style="cursor:pointer">
						  <li>
						  	<a data-toggle="pill" data-target="profile">
							  	<span class="glyphicon glyphicon-list icon-width"></span>
							  	Datos personales
						  	</a>
						  </li>
						  <li>
						  	<a data-toggle="pill" data-target="avatar">
								<span class="glyphicon glyphicon-user icon-width"></span>
						  		Avatar
						  	</a>
						  </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div id="action-div"></div>
			</div>
		</div>

	</section>
</div>