<form id="profileForm">
	<div class="form-group">
		<label>Nombre</label>
		<input type="text" id="first_name" name="first_name" class="form-control" />
	</div>
	<div class="form-group">
		<label>Apellido</label>
		<input type="text" id="last_name" name="last_name" class="form-control" />
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="text" id="email" name="email" class="form-control" />
	</div>
	<br/>
	<div class="text-center">
		<input type="button" class="btn btn-theme" value="Save" id="saveUser"/>
	</div>
</form>