<div class="content-panel">
	<div class="content-header">
		Clients
		<button class="btn btn-theme04 pull-right" id="new">New client</button>
	</div>
	<section id="unseen" style="padding:10px">
		<div id="clients_table"></div>
	</section>
</div>