<div class="content-panel mt">
	<button class="btn btn-theme04 pull-right" id="new" style="margin-right:10px">New client</button>
	<h4>Clients</h4>
	<section id="unseen" style="padding:10px">
		<div id="clients_table"></div>
	</section>
</div>