<input id="searchText" placeholder="<<%= I18n.t("administrations.index.search_text") %>...>" type="text">
<button type="button" class="btn" id="search"><%= I18n.t("administrations.index.search") %></button>
<button type="button" class="btn btn-primary" id="new"><%= I18n.t("administrations.index.new") %></button> 

<div id="table"></div>