<style>
.landing-main {
	background: #fff;
	min-height: 500px;
	text-align: center;
	padding-top: 30px;
	width: 100%;
}
.landing-separator {
	background-color: rgb(26, 188, 156);
	color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}
.landing-title {
	font-size: 30px;
}
.landing-subtitle {
	font-size: 20px;
}
.landing-text {
	font-size: 20px;
	line-height: 30px;
	min-height: 400px;
	padding-top: 40px;
}
</style>
<div class="container landing-main">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<iframe src="//player.vimeo.com/video/43216162?title=0&amp;byline=0&amp;portrait=0&amp;color=ed5565" 
					width="790" 
					height="444" 
					frameborder="0" 
					webkitallowfullscreen mozallowfullscreen allowfullscreen>
			</iframe>
		</div>
		<div class="col-md-2">
			<img src="/assets/cosetti_landing_video.png" style="height:300px;" />
		</div>
	</div>
</div>
<div class="landing-separator">
	<div class="container text-right">
		<div class="landing-title">WE KEEP IT SIMPLE</div>
		<div class="landing-subtitle">Easy to input, easy to read, easy to use</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" style="padding-top: 20px">
			<img src="http://www.bigpicture.co.uk/assets/laptop_ipad_iphone.png"/>
		</div>
		<div class="col-md-6 landing-text text-right">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>

<div class="landing-separator">
	<div class="container">
		<div class="landing-title">WE UNDERSTAND THE MARKET</div>
		<div class="landing-subtitle">Every second serve in future</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 landing-text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="col-md-6" style="padding-top: 20px">
			<img src="/assets/cosetti_landing_focus.png" style="height:300px" />
		</div>
	</div>
</div>

<div class="landing-separator">
	<div class="container text-right">
		<div class="landing-title">WE KNOW WHAT YOU NEED</div>
		<div class="landing-subtitle">There is so much information you can use</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" style="padding-top: 20px">
			<img src="/assets/cosetti_landing_focus.png" style="height:300px" />
		</div>
		<div class="col-md-6 landing-text text-right">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>

<a name="prices"></a>
<div class="landing-separator">
	<div class="container">
		<div class="landing-title">PRICES</div>
		<div class="landing-subtitle">Try it for free. You will love it !</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4" data-effect="slide-bottom">
			<div class="custom-box">
				<div class="servicetitle">
					<h4>Freelancer</h4>
					<hr>
				</div>
				<div class="icn-main-container">
					<span class="icn-container">Free</span>
				</div> 
				<p>All features availables for ever for 1 user</p>
				<ul class="pricing">
					<li>Unlimited clients</li>
					<li>Unlimited projects</li>
					<li>Unlimited tasks</li>
					<li>Unlimited reports</li>
				</ul>
				<a class="btn btn-primary" href="#">Order Now</a>
			</div><!-- end custombox -->
		</div><!-- end col-4 -->

		<div class="col-md-4" data-effect="slide-bottom">
			<div class="custom-box">
				<div class="servicetitle">
					<h4>Smal team</h4>
					<hr>
				</div>
				<div class="icn-main-container">
					<span class="icn-container">
						$25
					</span>
					
				</div> 
				<p>For teams up to 5 users </p>
				<ul class="pricing">
					<li>Unlimited clients</li>
					<li>Unlimited projects</li>
					<li>Unlimited tasks</li>
					<li>Unlimited reports</li>
				</ul>
				<a class="btn btn-primary" href="#">Order Now</a>
			</div><!-- end custombox -->
		</div><!-- end col-4 -->

		<div class="col-md-4" data-effect="slide-bottom">
			<div class="custom-box">
				<div class="servicetitle">
					<h4>Rocket team</h4>
					<hr>
				</div>
				<div class="icn-main-container">
					<span class="icn-container">$49</span>
				</div> 
				<p>Unlimited users </p>
				<ul class="pricing">
					<li>Unlimited clients</li>
					<li>Unlimited projects</li>
					<li>Unlimited tasks</li>
					<li>Unlimited reports</li>
				</ul>
				<a class="btn btn-primary" href="#">Order Now</a>
			</div><!-- end custombox -->
		</div><!-- end col-4 -->
		
	</div><!-- end row -->
</div>