<style>
.landing-main {
	background: #fff;
	min-height: 500px;
	padding-bottom: 20px;
	width: 100%;
}
.landing-separator {
	background-color: rgb(26, 188, 156);
	color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}
.landing-title {
	font-size: 30px;
}
.landing-subtitle {
	font-size: 20px;
}
.landing-text {
	font-size: 20px;
	line-height: 40px;
	padding: 40px 10px;
}
.cosetti-video {
	bottom:0px;
	height:300px;
	margin-left:-52px;
	position:absolute;
}
.main-title {
	font-size: 32px;
	padding: 30px;
	text-align: center;
}
.price-month {
	color: #fff;
	position: relative;
	top:-46px;
}
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	overflow: hidden;
	height: auto; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
</style>

<!-- Google Analytics, only if in production -->
<%
if Rails.env.production? then
	%>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-50795492-1', 'artimeapp.com');
	  ga('send', 'pageview');
	</script>
	<%
end
%>

<section class="container landing-main">
	<div class="main-title">The only project tracking tool for creative companies</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class='embed-container'>
				<iframe src='//player.vimeo.com/video/93361853?title=0&amp;byline=0&amp;portrait=0&amp;color=ed5565' 
					frameborder='0' 
					webkitAllowFullScreen 
					mozallowfullscreen 
					allowFullScreen>
				</iframe>
			</div>
		</div>
		<div class="col-md-2 visible-lg" style="height: 440px">
			<img src="/assets/landing_video.png" class="cosetti-video" />
		</div>
	</div>
</section>
		
<section>
	<a name="features"></a>
	<div class="landing-separator">
		<div class="container text-right">
			<div class="landing-title">WE KEEP IT SIMPLE</div>
			<div class="landing-subtitle">It is easy to enter data, and even easier to assess projects with it !</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 hidden-xs hidden-sm text-center" style="padding: 20px 0">
				<img src="/assets/landing_cosetti_easy.png" />
			</div>
			<div class="col-md-6 landing-text text-right">
				<div>
					Artime gives you the chance to assess project performance. <b>NOW</b>. And
					whenever you want to. It is always available when you need it.
					Just create a project (takes about one minute) and your team can start
					to input effort hours to it.
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<a name="features"></a>
	<div class="landing-separator">
		<div class="container">
			<div class="landing-title">ARTIME IS EVERYWHERE</div>
			<div class="landing-subtitle">In the office. In the cafe. In the bus. In the street !</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 landing-text">
				<div>
					Artime works on your Mac, PC, tablet or smartphone. You can reach your
					information whenever you want and in any possible way.
					No setup is needed. No software to install. Just create your new project
					and start using Artime now !
				</div>
			</div>
			<div class="col-md-6 hidden-xs hidden-sm" style="padding: 20px 0">
				<img src="/assets/landing_devices.png" />
			</div>
		</div>
	</div>
</section>

<section>
	<div class="landing-separator">
		<div class="container text-right">
			<div class="landing-title">WE UNDERSTAND CREATIVE COMPANIES</div>
			<div class="landing-subtitle">We know exactly what you need</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 hidden-xs hidden-sm text-center" style="padding: 20px 0">
				<img src="/assets/landing_market.png" style="height:300px" />
			</div>		
			<div class="col-md-7 landing-text text-right">
				Artime is specifically designed for creative companies where projects
				require an agile and dynamic follow up. Unlike traditional 
				hour tracking systems, Artime focuses on doing a smart analysis
				of projects' performance, helping you to detect problems and
				bottlenecks based on previous experiences.

				Imagine how much time and money you will save by taking
				advantage of what you already know !
			</div>
		</div>
	</div>
</section>

<section>
	<a name="prices"></a>
	<div class="landing-separator">
		<div class="container">
			<div class="landing-title">PRICES</div>
			<div class="landing-subtitle">Try it for free right now. You will love it !</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Freelancer</h4>
						<hr>
					</div>
					<div class="icn-main-container">
						<span class="icn-container" style="line-height: 100px;">Free</span>
					</div> 
					<p>All features availables for ever for 1 user</p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=1">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->

			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Startup team</h4>
						<hr>
					</div>
					<div class="icn-main-container">
						<p class="icn-container" style="padding-top:32px">
							$ 25 <br/>
							<span style="font-weigth:300; font-size: 14px">/ month</span>
						</p>
					</div> 
					<p>For teams up to 5 users </p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=2">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->

			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Rocket team</h4>
						<hr>
					</div>
					<div class="text-center">
						<p class="icn-container" style="padding-top:32px">
							$ 49 <br/>
							<span style="font-weigth:300; font-size: 14px">/ month</span>
						</p>
					</div> 
					<p>Unlimited users </p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=3">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->
			
		</div><!-- end row -->
	</div>
</section>