<style>
.landing-main {
	background: #fff;
	min-height: 500px;
	text-align: center;
	padding-bottom: 20px;
	width: 100%;
}
.landing-separator {
	background-color: rgb(26, 188, 156);
	color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}
.landing-title {
	font-size: 30px;
}
.landing-subtitle {
	font-size: 20px;
}
.landing-text {
	font-size: 20px;
	line-height: 40px;
	min-height: 400px;
	padding-top: 40px;
}
.cosetti_video {
	bottom:0px;
	height:300px;
	margin-left:-20px;
	position:absolute;
}
.main-title {
	font-family: "Loved by the King";
	font-size: 40px;
	padding: 30px;
}
.price-month {
	color: #fff;
	position: relative;
	top:-46px;
}
</style>
<section class="container landing-main">
	<div class="main-title">The best time tracking tool for creative companies focused on project's performance</div>
	<div class="text-center" style="position:relative">
		<iframe src="//player.vimeo.com/video/43216162?title=0&amp;byline=0&amp;portrait=0&amp;color=ed5565" 
				width="790" 
				height="444" 
				frameborder="0" 
				webkitallowfullscreen mozallowfullscreen allowfullscreen>
		</iframe>
		<img src="/assets/landing_video.png" class="cosetti_video" />
	</div>
</section>

<section>
	<a name="features"></a>
	<div class="landing-separator">
		<div class="container">
			<div class="landing-title">WE KEEP IT SIMPLE</div>
			<div class="landing-subtitle">Easy to input, easy to read, easy to use</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="padding-top: 20px">
				<img src="/assets/landing_devices.png" />
			</div>
			<div class="col-md-6 landing-text text-right">
				Artime permite conocer el rendimiento de los proyectos a simple vista. 
				Configurá tu proyecto en menos de 1 minuto y empezá a ver lo rápido y 
				fácil que es. Alcanza con dar de alta el proyecto en un solo paso, y
				que tu equipo comience a cargar las horas que le dedica. Lo vas a poder
				utilizar en cualquier momento y desde cualquier lugar, con tu smartphone,
				tablet, o laptop, por que simple, es fácil.
			</div>
		</div>
	</div>
</section>

<section>
	<div class="landing-separator">
		<div class="container text-right">
			<div class="landing-title">WE UNDERSTAND THE MARKET</div>
			<div class="landing-subtitle">Every second serve in future</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-7 landing-text">
				Artime está pensado para empresas creativas, donde los proyectos
				requieren de un seguimiento ágil y dinámico. A diferencia de los 
				sistemas tradicionales de registro de horas, Artime pone el foco
				en análisis inteligente del rendimiento de los proyectos, obteniendo
				además una mejor rentabilidad tomando como base la experiencia
				de proyectos anteriores.
			</div>
			<div class="col-md-5 text-center" style="padding-top: 20px">
				<img src="/assets/landing_market.png" style="height:300px" />
			</div>
		</div>
	</div>
</section>

<!--
<div class="landing-separator">
	<div class="container text-right">
		<div class="landing-title">WE KNOW WHAT YOU NEED</div>
		<div class="landing-subtitle">There is so much information you can use</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" style="padding-top: 20px">
			<img src="/assets/cosetti_landing_focus.png" style="height:300px" />
		</div>
		<div class="col-md-6 landing-text text-right">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>
-->

<section>
	<a name="prices"></a>
	<div class="landing-separator">
		<div class="container">
			<div class="landing-title">PRICES</div>
			<div class="landing-subtitle">Try it for free. You will love it !</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Freelancer</h4>
						<hr>
					</div>
					<div class="icn-main-container">
						<span class="icn-container" style="line-height: 100px;">Free</span>
					</div> 
					<p>All features availables for ever for 1 user</p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=freelancer">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->

			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Startup team</h4>
						<hr>
					</div>
					<div class="icn-main-container">
						<p class="icn-container" style="padding-top:32px">
							$ 25 <br/>
							<span style="font-weigth:300; font-size: 14px">/ month</span>
						</p>
					</div> 
					<p>For teams up to 5 users </p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=startup">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->

			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Rocket team</h4>
						<hr>
					</div>
					<div class="text-center">
						<p class="icn-container" style="padding-top:32px">
							$ 49 <br/>
							<span style="font-weigth:300; font-size: 14px">/ month</span>
						</p>
					</div> 
					<p>Unlimited users </p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=rocket">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->
			
		</div><!-- end row -->
	</div>
</section>