<style>
.landing-main {
	background: #fff;
	min-height: 500px;
	text-align: center;
	padding-bottom: 20px;
	width: 100%;
}
.landing-separator {
	background-color: rgb(26, 188, 156);
	color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}
.landing-title {
	font-size: 30px;
}
.landing-subtitle {
	font-size: 20px;
}
.landing-text {
	font-size: 20px;
	line-height: 40px;
	min-height: 400px;
	padding-top: 40px;
}
.cosetti_video {
	bottom:0px;
	height:300px;
	margin-left:-20px;
	position:absolute;
}
.main-title {
	font-family: "Loved by the King";
	font-size: 40px;
	padding: 30px;
}
.price-month {
	color: #fff;
	position: relative;
	top:-46px;
}
</style>
<section class="container landing-main">
	<div class="main-title">The only project tracking tool for creative companies</div>
	<div class="text-center" style="position:relative">
		<iframe src="//player.vimeo.com/video/93361853?title=0&amp;byline=0&amp;portrait=0&amp;color=ed5565" 
				width="790" 
				height="444" 
				frameborder="0" 
				webkitallowfullscreen mozallowfullscreen allowfullscreen>
		</iframe>
		<img src="/assets/landing_video.png" class="cosetti_video" />
	</div>
</section>

<section>
	<a name="features"></a>
	<div class="landing-separator">
		<div class="container">
			<div class="landing-title">WE KEEP IT SIMPLE</div>
			<div class="landing-subtitle">It is easy to enter data, and even easier to assess projects with it !</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="padding-top: 20px">
				<img src="/assets/landing_devices.png" />
			</div>
			<div class="col-md-6 landing-text text-right">
				<div>
					Artime gives you the chance to assess project performance. <b>NOW</b>. And
					whenever you want to. It is always available when you need it.
				</div>
				<div style="padding-top:5px">
					Just create a project (takes about one minute) and your team can start
					to input effort hours to it.
				</div>
				<div style="padding-top:5px">
					Artime works on your Mac, PC, tablet or smartphone. You can reach your
					information whenever you want and in any possible way.
				</div>
				<div style="padding-top:5px">
					No setup is needed. No software to install. Just create your new project
					and start using Artime now !
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="landing-separator">
		<div class="container text-right">
			<div class="landing-title">WE UNDERSTAND CREATIVE COMPANIES</div>
			<div class="landing-subtitle">We know exactly what you need</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-7 landing-text">
				Artime is specifically designed for creative companies where projects
				require an agile and dynamic follow up. Unlike traditional 
				hour tracking systems, Artime focuses on doing a smart analysis
				of projects' performance, helping you to detect problems and
				bottlenecks based on previous experiences.

				Imagine how much time and money you will save by taking
				advantage of what you already know !
			</div>
			<div class="col-md-5 text-center" style="padding-top: 20px">
				<img src="/assets/landing_market.png" style="height:300px" />
			</div>
		</div>
	</div>
</section>

<!--
<div class="landing-separator">
	<div class="container text-right">
		<div class="landing-title">WE KNOW WHAT YOU NEED</div>
		<div class="landing-subtitle">There is so much information you can use</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" style="padding-top: 20px">
			<img src="/assets/cosetti_landing_focus.png" style="height:300px" />
		</div>
		<div class="col-md-6 landing-text text-right">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>
-->

<section>
	<a name="prices"></a>
	<div class="landing-separator">
		<div class="container">
			<div class="landing-title">PRICES</div>
			<div class="landing-subtitle">Try it for free right now. You will love it !</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Freelancer</h4>
						<hr>
					</div>
					<div class="icn-main-container">
						<span class="icn-container" style="line-height: 100px;">Free</span>
					</div> 
					<p>All features availables for ever for 1 user</p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=freelancer">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->

			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Startup team</h4>
						<hr>
					</div>
					<div class="icn-main-container">
						<p class="icn-container" style="padding-top:32px">
							$ 25 <br/>
							<span style="font-weigth:300; font-size: 14px">/ month</span>
						</p>
					</div> 
					<p>For teams up to 5 users </p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=startup">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->

			<div class="col-md-4" data-effect="slide-bottom">
				<div class="custom-box">
					<div class="servicetitle">
						<h4>Rocket team</h4>
						<hr>
					</div>
					<div class="text-center">
						<p class="icn-container" style="padding-top:32px">
							$ 49 <br/>
							<span style="font-weigth:300; font-size: 14px">/ month</span>
						</p>
					</div> 
					<p>Unlimited users </p>
					<ul class="pricing">
						<li>Unlimited clients</li>
						<li>Unlimited projects</li>
						<li>Unlimited tasks</li>
						<li>Unlimited reports</li>
					</ul>
					<a class="btn btn-primary" href="/users/sign_up?plan=rocket">Order Now</a>
				</div><!-- end custombox -->
			</div><!-- end col-4 -->
			
		</div><!-- end row -->
	</div>
</section>