<style>
.landing-main {
  background-image: url("/assets/hulk.jpg");
  min-height: 500px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
  text-shadow: 0px 0px 8px #000;
  width: 100%;
}
</style>
<div class="landing-main">

</div>