<div id="selectTimesheetModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Pick the user</h4>
			</div>
			<div class="modal-body">
				<form id="clientForm" role="form">
					<div class="form-group">
						<label for="name">User:</label>
						<select id="users" class="form-control">
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="ok" class="btn btn-theme">OK</button>
				<button id="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	