<div class="content-panel">
	<div class="content-header">
		Tasks
		<button id="newTask" class="pull-right btn btn-theme04">New task</button>
	</div>
	<div style="padding:10px">
		<div class="row">
			<div class="col-md-4">
				<ul class="list-unstyled tasks-list">
					<li>
						<strong>Task name</strong>
						<%
						if (tasksCollection.type === "RegularTask")
						{
							%>
							<span class="pull-right"><strong>Billable</strong></span>
							<%
						}
						%>
					</li>
					<%
						if (tasksCollection.length === 0)
						{
							%>
							<div style="height: 100px; text-align:center; margin-top: 50px">
								<span style="font-size:16px;">
									No tasks yet <i class="fa fa-smile-o"></i> Create some using the "New Task" button
								</span>
							</div>
							<%
						}

						for(var i = 0; i < tasksCollection.length; i++)
						{
							var task = tasksCollection.models[i];
							%>
							<li data-task-id="<%= task.id %>" class="task-link"><%= task.attributes.name %>
								<%
								if (task.attributes.billable && task.attributes.type === "RegularTask") 
								{
								%>
									<i class="fa fa-check pull-right"></i>
								<%
								}
								%>
							</li>
						<%
						}	
					%>
				</ul>
			</div>
			<div class="col-md-8">
				<ul class="list-unstyled tasks-list">
					<li class="text-center">
					</li>
				</ul>
				<div id="task_detail">
					<p class="text-center"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.tasks-list > li {
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
	padding: 10px;
}
.tasks-list > li.active {
	border-left: 3px solid #4ECDC4;
	background-color: whitesmoke;
}
</style>